<!-- wp:html -->
<div id="wrapper">
<div id="content">
<div class="hfeed site" id="page">
<header class="site-header sticky-top shadow-sm" role="banner">
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header-main","area":"header"} /-->

<!-- wp:html -->
</header>

<div class="wrapper" id="front-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div id="primary" class="col-12 content-area py-2">
                <main class="site-main">
<!-- /wp:html -->

<!-- wp:post-content /-->

<!-- wp:html -->
                </main>
            </div>
        </div>
    </div>
</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer-main","area":"footer"} /-->

<!-- wp:html -->
</div>
</div>
</div>
<!-- /wp:html -->
