<!-- wp:html -->
<div id="wrapper">
<div id="content">
<div class="hfeed site" id="page">
<header class="site-header sticky-top shadow-sm" role="banner">
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header-main","area":"header"} /-->

<!-- wp:html -->
</header>

<div class="wrapper" id="index-wrapper">
    <div class="container">
        <div class="row">
<!-- /wp:html -->

<!-- wp:shortcode -->
[u68_widget_area id="left-sidebar" class="widget-area col-md-3" role="complementary" condition="show_left_sidebar"]
<!-- /wp:shortcode -->

<!-- wp:html -->
            <div id="primary" class="col-md-8 col-sm-12 content-area">
                <main class="site-main py-4">
<!-- /wp:html -->

<!-- wp:post-content /-->

<!-- wp:html -->
                </main>
            </div>
<!-- /wp:html -->

<!-- wp:shortcode -->
[u68_widget_area id="right-sidebar" class="widget-area col-md-3" role="complementary" condition="show_right_sidebar"]
<!-- /wp:shortcode -->

<!-- wp:html -->
        </div>
    </div>
</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer-main","area":"footer"} /-->

<!-- wp:html -->
</div>
</div>
</div>
<!-- /wp:html -->