<!-- wp:html -->
<div id="wrapper">
<div id="content">
<div class="hfeed site" id="page">
<header class="site-header sticky-top shadow-sm" role="banner">
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header-main","area":"header"} /-->

<!-- wp:html -->
</header>

<div class="wrapper" id="single-wrapper">
    <div class="container">
        <div class="row">
            <div id="primary" class="col-md-8 col-sm-12 content-area">
                <main class="site-main">
<!-- /wp:html -->

<!-- wp:post-title {"level":1} /-->
<!-- wp:post-featured-image /-->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"style":{"spacing":{"blockGap":"0.5rem"}}} -->
<!-- wp:post-date /-->
<!-- wp:post-author-name /-->
<!-- /wp:group -->
<!-- wp:post-content /-->

<!-- wp:html -->
                </main>
            </div>
<!-- /wp:html -->

<!-- wp:shortcode -->
[u68_widget_area id="right-sidebar" class="col-md-4 col-sm-12 widget-area" role="complementary"]
<!-- /wp:shortcode -->

<!-- wp:html -->
        </div>
    </div>
</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer-main","area":"footer"} /-->

<!-- wp:html -->
</div>
</div>
</div>
<!-- /wp:html -->